src/rsf/cli/templates/s3-event-pipeline/workflow.yaml
rsf_version: "1.0"
Comment: "S3 event pipeline — process uploaded files with validation, transformation, and notification"
StartAt: ValidateFile

States:
  ValidateFile:
    Type: Task
    Handler: handlers/validate_file.py
    Next: CheckValidation

  CheckValidation:
    Type: Choice
    Choices:
      - Variable: "$.valid"
        BooleanEquals: true
        Next: TransformData
    Default: NotifyFailure

  TransformData:
    Type: Task
    Handler: handlers/transform_data.py
    Next: ProcessUpload

  ProcessUpload:
    Type: Task
    Handler: handlers/process_upload.py
    Next: NotifyComplete

  NotifyComplete:
    Type: Task
    Handler: handlers/notify_complete.py
    Next: Done

  NotifyFailure:
    Type: Task
    Handler: handlers/notify_complete.py
    Next: Failed

  Done:
    Type: Succeed

  Failed:
    Type: Fail
    Error: "ValidationFailed"
    Cause: "File validation failed"
