examples/intrinsic-showcase/workflow.yaml
rsf_version: "1.0"
Comment: "Intrinsic function showcase demonstrating string, array, and math operations"
StartAt: PrepareData
States:
  PrepareData:
    Type: Pass
    Result:
      userName: "Jane Doe"
      tagArray:
        - "demo"
        - "showcase"
        - "intrinsics"
    ResultPath: "$.prepared"
    Next: StringOperations

  StringOperations:
    Type: Task
    ResultPath: "$.strings"
    Next: ArrayOperations

  ArrayOperations:
    Type: Task
    ResultPath: "$.arrays"
    Next: MathAndJsonOps

  MathAndJsonOps:
    Type: Task
    ResultPath: "$.math"
    Next: CheckResults

  CheckResults:
    Type: Choice
    Choices:
      - Variable: "$.arrays.contains"
        BooleanEquals: true
        Next: ShowcaseComplete
    Default: ShowcaseComplete

  ShowcaseComplete:
    Type: Succeed
