examples/approval-workflow/workflow.yaml
rsf_version: "1.0"
Comment: "Approval workflow demonstrating Task, Wait, Choice, Pass, Succeed, Fail states"
StartAt: SubmitRequest
States:
  SubmitRequest:
    Type: Task
    ResultPath: "$.submission"
    Next: WaitForReview

  WaitForReview:
    Type: Wait
    Seconds: 5
    Next: CheckApprovalStatus

  CheckApprovalStatus:
    Type: Task
    ResultPath: "$.approvalCheck"
    Next: EvaluateDecision

  EvaluateDecision:
    Type: Choice
    Choices:
      - Variable: "$.approvalCheck.decision"
        StringEquals: "approved"
        Next: ProcessApproval
      - Variable: "$.approvalCheck.decision"
        StringEquals: "denied"
        Next: RequestDenied
      - Variable: "$.approvalCheck.attemptCount"
        NumericGreaterThan: 3
        Next: EscalateRequest
    Default: WaitForReview

  ProcessApproval:
    Type: Task
    ResultPath: "$.result"
    Next: RequestApproved

  EscalateRequest:
    Type: Pass
    Result:
      status: "escalated"
    ResultPath: "$.escalation"
    Next: RequestApproved

  RequestApproved:
    Type: Succeed

  RequestDenied:
    Type: Fail
    Error: "RequestDenied"
    Cause: "The approval request was denied"
