vscode-extension/tests/fixtures/valid-workflow.yaml
StartAt: ValidateInput
States:
  ValidateInput:
    Type: Task
    Resource: arn:aws:lambda:us-east-2:123456789:function:validate
    Next: ProcessOrder
  ProcessOrder:
    Type: Task
    Resource: arn:aws:lambda:us-east-2:123456789:function:process
    Next: CheckResult
  CheckResult:
    Type: Choice
    Choices:
      - Variable: "$.status"
        StringEquals: "success"
        Next: NotifySuccess
    Default: NotifyFailure
  NotifySuccess:
    Type: Succeed
  NotifyFailure:
    Type: Fail
    Error: ProcessingFailed
    Cause: Order processing failed
