tests/parity/test-02-sqs-collector/terraform/sfn_definition.json
{
  "Comment": "Parity test: SQS message collector (Step Functions version)",
  "StartAt": "PollSQS",
  "States": {
    "PollSQS": {
      "Type": "Task",
      "Resource": "${poll_lambda_arn}",
      "ResultPath": "$.poll_result",
      "Next": "CheckMessages"
    },
    "CheckMessages": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.poll_result.received",
          "BooleanEquals": true,
          "Next": "AppendMessage"
        }
      ],
      "Default": "WaitBeforePoll"
    },
    "AppendMessage": {
      "Type": "Task",
      "Resource": "${append_lambda_arn}",
      "Next": "CheckCount"
    },
    "CheckCount": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.count",
          "NumericGreaterThanEquals": 10,
          "Next": "WriteCollected"
        }
      ],
      "Default": "WaitBeforePoll"
    },
    "WaitBeforePoll": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "PollSQS"
    },
    "WriteCollected": {
      "Type": "Task",
      "Resource": "${write_lambda_arn}",
      "Next": "DeleteMessages"
    },
    "DeleteMessages": {
      "Type": "Task",
      "Resource": "${delete_lambda_arn}",
      "Next": "Done"
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}
