examples/data-pipeline/workflow.yaml
rsf_version: "1.0"
Comment: "Data pipeline demonstrating Task, Pass, and Map states with DynamoDB integration"
StartAt: InitPipeline
States:
  InitPipeline:
    Type: Pass
    Result:
      pipeline: "etl-v1"
      stage: "initialized"
      config:
        batchSize: 10
        tableName: "pipeline-results"
    ResultPath: "$.config"
    Next: FetchRecords

  FetchRecords:
    Type: Task
    ResultPath: "$.fetched"
    Next: TransformRecords

  TransformRecords:
    Type: Map
    ItemsPath: "$.fetched.records"
    MaxConcurrency: 5
    ItemProcessor:
      StartAt: ValidateRecord
      States:
        ValidateRecord:
          Type: Task
          Next: EnrichRecord
        EnrichRecord:
          Type: Task
          End: true
    ResultPath: "$.transformed"
    Next: StoreResults

  StoreResults:
    Type: Task
    ResultPath: "$.stored"
    Next: PipelineComplete

  PipelineComplete:
    Type: Pass
    End: true
