tests/parity/test-02-sqs-collector/workflow.yaml
rsf_version: "1.0"
Comment: "Parity test: SQS message collector"
StartAt: PollSQS

States:
  PollSQS:
    Type: Task
    ResultPath: "$.poll_result"
    Next: CheckMessages

  CheckMessages:
    Type: Choice
    Choices:
      - Variable: "$.poll_result.received"
        BooleanEquals: true
        Next: AppendMessage
    Default: WaitBeforePoll

  AppendMessage:
    Type: Task
    Next: CheckCount

  CheckCount:
    Type: Choice
    Choices:
      - Variable: "$.count"
        NumericGreaterThanEquals: 10
        Next: WriteCollected
    Default: WaitBeforePoll

  WaitBeforePoll:
    Type: Wait
    Seconds: 10
    Next: PollSQS

  WriteCollected:
    Type: Task
    Next: DeleteMessages

  DeleteMessages:
    Type: Task
    Next: Done

  Done:
    Type: Succeed
