fixtures/valid/retry_catch.yaml
rsf_version: "1.0"
Comment: "Task state with Retry and Catch policies"
StartAt: CallService
States:
  CallService:
    Type: Task
    Retry:
      - ErrorEquals: ["ServiceUnavailable"]
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2.0
      - ErrorEquals: ["RateLimitExceeded"]
        IntervalSeconds: 5
        MaxAttempts: 5
        BackoffRate: 1.5
        MaxDelaySeconds: 30
        JitterStrategy: FULL
      - ErrorEquals: ["States.ALL"]
        MaxAttempts: 1
    Catch:
      - ErrorEquals: ["ServiceUnavailable"]
        Next: FallbackHandler
        ResultPath: "$.serviceError"
      - ErrorEquals: ["States.ALL"]
        Next: CatchAll
        ResultPath: "$.error"
    Next: Done
  FallbackHandler:
    Type: Task
    End: true
  CatchAll:
    Type: Fail
    Error: "UnhandledError"
    Cause: "An unhandled error occurred"
  Done:
    Type: Succeed
